<h1>All <%= @seller.name %> Houses Listings</h1>
<hr />

<% if @houses.any? %>
	<ul>
		<% @houses.each do |house| %>
			<li>
				<%= link_to house.size, seller_house_path(@seller, house) %>
			</li>
		<% end %>
	</ul>
<% else %>
	<h2>No houses are for sale, please list one.</h2>
<% end %>


<hr />

<%= link_to 'New House Listings', new_seller_house_path(@seller), class: 'btn btn-default' %>
<%=link_to 'Back to Seller Sage', seller_path(@seller), class: 'btn btn-default' %>
