<h1>House info</h1>
<hr />

<span>Size:</span>
<span><%= @house.size %></span>

<span>Year Built:</span>
<span><%= @house.year_built %></span>

<span>Bed:</span>
<span><%= @house.bed %></span>

<span>Bath:</span>
<span><%= @house.bath %></span>
