<h1>Address</h1>
<hr />

<span>Street:</span>
<span><%= @address.street %></span>

<span>Country:</span>
<span><%= @address.country %></span>

<span>State:</span>
<span><%= @address.state %></span>

<span>Zip code:</span>
<span><%= @address.zip %></span>